/* Mobile */
@media screen and (min-width: 275px) and (max-width: 480px) {
    .site-width {
        margin: 0 5%;
    }
    .nav-menu {
        display: none;
    }
    .hero {
        height: 40vh;
    }
    .flex-container {
        flex-wrap: wrap;
    }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .site-width {
        margin: 0 10%;
    }
    .nav-menu {
        display: none;
    }
    .flex-container {
        flex-wrap: wrap;
    }
}

/* Tablet Landscape */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .site-width {
        margin: 0 15%;
    }
    .nav-menu {
        display: none;
    }
}

/* Laptop */
@media screen and (min-width: 1025px) and (max-width: 1599px) {
    .site-width {
        margin: 0 20%;
    }
    .mobile-icon {
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: 1600px) {
    .site-width {
        margin: 0 25%;
    }
    .mobile-icon {
        display: none;
    }
}