@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: rgba(214, 182, 60, 1.0);
    --secondary-color: rgba(60, 211, 214, 1.0);
    --text-color: rgba(0, 0, 0, 1.0);
    --text-secondary-color: rgba(255, 255, 255, 1.0);
    --drop-shadow-color:  rgba(0, 0, 0, 0.2)
}

html {
    font-size: 16px;
    font-family: Poppins, Arial, sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.site-width {
    margin: 0 20%;
}

.full-width {
    width: 100%;
    margin: 0;
}

.spacing {
    margin-top: 3rem;
}

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

.flex-container-item {
    flex: 1 1 0;
}

.desktop-nav {
    background-color: var(--primary-color);
    padding: 1.5rem 0;
    position: fixed;
    z-index: 10;
    filter: drop-shadow(0 0.5rem 0.75rem var(--drop-shadow-color));
    top: 0;
}

.navbar {
    align-items: center;
}

.logo {
    margin-right: auto;
    width: 2rem;
}

.logotype {
    font-size: 2.5rem;
    font-family: "Luckiest Guy", sans-serif;
    color: var(--text-secondary-color);
}

.nav-menu {
    margin-left: auto;
}

.nav-menu-list {
    list-style-type: none;
    gap: 1rem;
    justify-content: end;
}

.nav-menu-item {
    font-size: 1.25rem;
    color: var(--text-secondary-color);
    font-weight: 600;
    letter-spacing: -0.05rem;
    transition: font-weight 100ms ease-in 50ms;
}

.nav-menu-item:hover {
    font-weight: 800;
}

.nav-menu-item a {
    text-decoration: none;
}

.mobile-icon {
    margin-left: auto;
    font-size: 1.5rem;
    color: var(--text-secondary-color);
}

.mobile-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
}

.mobile-close-icon {
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 2.5rem;
    color: var(--text-secondary-color);
}

.mobile-nav-menu-list ul {
    list-style-type: none;
    flex-direction: column;
    gap: 2.5rem;
}

.mobile-nav-menu-list a {
    text-decoration: none;
}

.mobile-nav-menu-item {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: -0.05rem;
    font-weight: 700;
    color: var(--text-secondary-color);
    transition: font-weight 100ms ease-in 50ms;
}

.mobile-nav-menu-item:hover {
    font-weight: 900;
}

.hero {
    height: 70vh;
    background-image: url("../assets/images/Hero_image_Couple_Walking_Dog.jpg");
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 5rem;
}

.hero-content {
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    color: var(--text-secondary-color);
    text-align: center;
    font-size: clamp(2.75rem, -3rem + 16.5vw, 6.375rem);
    padding: 0 20%;
    font-weight: 700;
    filter: drop-shadow(0 0 1rem var(--drop-shadow-color));
}

.together-text {
    color: var(--secondary-color);
}

.services-grid {
    grid-template-columns: repeat(auto-fill, minmax(min(275px, 100%), 1fr));
    gap: 1rem;
}

.box-1, .box-2, .box-3, .box-4 {
    background-color: var(--primary-color);
    border-radius: 1rem;
    flex-direction: column;
    padding: 2rem;
    filter: drop-shadow(0 0 0.1rem var(--drop-shadow-color));
    gap: 0.75rem;
}

.services-icon {
    font-size: 4rem;
    color: var(--text-secondary-color);
}

.services-header {
    align-items: center;
    gap: 1.5rem;
}

.services-callout {
    color: var(--text-secondary-color);
    font-size: 2rem;
    font-weight: 700;
}

.services-text {
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--text-color);
    filter: drop-shadow(0 0 0.1rem var(--drop-shadow-color));
}

.services-text p {
    font-size: 1.125rem;
    line-height: 1.5;
}

.services-content h1 {
    color: var(--primary-color);
    text-align: center;
}